h1 Hi #{subject}
p Thanks again for reaching out and as mentioned I have attached the on-boarding instructions and cc’d our CEO, Brandon, to be of assistance if you have any more questions.
p Looking forward to seeing you on the network!
p Samantha